body {
    font-family: 'Bebas Neue', sans-serif;
    height:100%;
}

body ::selection {
    color: #FF5510;
}

h1, h3, h2 {
    font-size: 3em;
    letter-spacing: 2px;
}

h5 {
    font-size: 2em;
    letter-spacing: 2px;
}

.slogan {
    font-size: 1rem;
}

.orange-color{
    color :#FF5510;
}

a {
    text-decoration : none;
    }


a:hover, .box-style:hover {
   background : #FF5510;
   letter-spacing: 3px;
   transition: 0.5s;
}

.logo-img {
    max-width : 10vw;
}

.intro {
    border: 2px solid #FF5510;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

.animal-img {
    max-width: 200px;
    max-height: 200px;
}

.container-animals {
    display : grid;
    grid-template-columns: 1fr;
    gap : 10px;
    justify-items: center;
    align-items: center;
}

.box-style {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background : #FF5510;
    margin-top: 10px;
    position: relative;
    bottom: 0;
    left:0;
    right:0;
}

.social-img {
    height: 1em;
    padding: 2px;
}

@media (min-height: 481px){
    .container-animals{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .animal-img {
        max-width: 400px;
        max-height: 400px;
    }
}

@media (min-height: 769px){
    .animal-img {
        max-width: 500px;
        max-height: 500px;
    }
}
.display-flex {
    display: flex;
    justify-content: center;
}

.program {
    font-size: 1.5em;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

@media (max-height: 481px) {
    .hidden-img {
        display:none
    }

    .program {
        border: 2px solid #FF5510;
        padding: 4px;
    }
}

@media (min-height: 1201px) {
    .display-grid {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap : 50px;
    }
    
    .display-flex {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    }
    footer {
        position:fixed;
        bottom:0;  /* on le colle en bas */
        width:100%;
        height:100px;   /* Hauteur du pied de page */
    }
    
    .display-flex {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    }
}

